.container {
  width: 100%;
  height: 50%;
  margin: auto;
  background: #dce3de;
  font-size: 20px;
}

.search-block {
  padding-top: 150px;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


